body {
    box-sizing: border-box;
}

@media screen and (min-width: 426px) and (max-width: 1920px) {
    #profile-picture {
        scale: 75%;
    }

    .userText {
        text-align: center;
    }
}