section {
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px;
    height: 50%;
    margin: 5% auto;
    padding: 2% 0px;
    width: 30%;
}
section h3 {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
}
form button {
    box-shadow: 3px 3px;
    margin: 5px;
}